Fortran/steady_state/bin/*.*
Fortran/steady_state/obj/*.*
Fortran/steady_state/results/*.*
Fortran/steady_state/results/**/*.*
Fortran/steady_state/src/minpack.f90
Fortran/steady_state/src_pa/minpack.f90
Fortran/steady_state/*.out
Fortran/steady_state/*.mod
Fortran/steady_state/*.sh
Fortran_archive
MATLAB/steady_state/results/*.*
MATLAB/steady_state/*.asv
MATLAB/steady_state/*.mat
MATLAB/steady_state/scratch_moments.m
MATLAB/steady_state/logfile
MATLAB/results/*.*
MATLAB/*.mat
MCD_Inclusion_Archive
./**/*.out
./**/*.mod

